/*--- Landing page ---*/
.parallax {
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: -1;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/img/landing.jpg) center;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  user-select: none;
}
.caption h1{
  font-size: 3.25rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: .1rem .1rem .8rem black; 
  padding-bottom: .4rem;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.caption h3 {
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .1rem black;
  padding: 0rem 1rem .6rem 1rem;
  font-weight: 600;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*--- Om oss ---*/
.svg-inline--fa {
  font-size: 8rem;
}

/*--- Samarbeten ---*/
.samarbete img {
  max-height: 200px;
}
.samarbete a {
  text-decoration: none;
  color: white;
  font-weight: 600;

}


/*--- personal ---*/
.container img {
  max-height: 130px;
}
.container strong {
  font-weight: bold;
  font-size: 1.2rem;
}


@media (max-width: 500px) {
  .personal p {
    font-size: .8rem;
  }
  .personal strong {
    font-size: 0.9rem;
  }
}