.svart {
    background: rgb(26, 26, 24);
}
.grå {
    background: rgb(192, 195, 196);
}
.auroragreen {
    background: url(/img/auroragreen.gif)
}
.glitzsapphire {
    background: url(/img/glitzsapphire_small.gif)
}

span {
    font-weight: 700;
    font-size: 1,2rem;
}