:root {
  --mainLight:#E8EAFF;
  --mainDark:#393850;
  --mainTint: #3ca2b4;
}
body, html {
  height: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background: var(--mainLight);
  margin: 0;
  padding: 0;
}
/*--- General ---*/
.heading {
  font-size: 1.8rem !important;
}
.heading-underline {
  height: .2rem;
  margin:0 auto 1rem;
  background:var(--mainTint)
}
.hu-1 {
  width: 5rem;
}
.hu-2 {
  width: 10rem;
}
.text-dark {
  color:var(--mainDark) !important;
}
.dark {
  background: var(--mainDark) !important;
}
.text-light {
  color: var(--mainLight) !important;
}
.light {
  background:var(--mainLight)  !important;
}
.jumbotron {
  background: #0F0F10;
}


/*--- Navigation field ---*/
.navbar {
  padding: 0rem .4rem .2rem !important;
  height: 3.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand {
  height: 3.8rem;
  text-transform: initial;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Righteous', cursive;
}

.navbar-brand img{
  height: 100%;
  padding-right: .5rem;
  border-right: .15rem solid white;
  margin-right: .5rem;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--mainTint);
}

/*--- Landing page ---*/
.parallax {
    background-image: url(/img/landing.jpg);
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  user-select: none;
}
.caption h1{
  font-size: 3.25rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-shadow: .1rem .1rem .8rem black; 
  padding-bottom: .4rem;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.caption h3 {
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .1rem black;
  padding: 0rem 1rem .6rem 1rem;
  font-weight: 600;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*--- Om oss ---*/
.svg-inline--fa {
  font-size: 8rem;
}



/*--- Samarbeten ---*/
.samarbete img {
  max-height: 200px;
}
.samarbete a {
  text-decoration: none;
  color: white;
  font-weight: 600;

}


/*--- personal ---*/
.container img {
  max-height: 130px;
}
.container strong {
  font-weight: bold;
  font-size: 1.2rem;
}
/*--- Footer ---*/

.footer-logo {
  height: 7rem;
  width: 7rem;
  margin-bottom: 1rem;
}
footer strong {
  font-size: 1.2rem;
}
footer svg.svg-inline--fa {
  color: white;
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
.fa-facebook-square{
  font-size: 2.5rem !important;
}
.fa-instagram{
  font-size: 2.5rem !important;
}
.fa-facebook-square:hover,
.fa-facebook-square:focus {
  color: #3b5998;
  transform: scale(0.9);
}
.fa-instagram:hover,
.fa-instagram:focus{
  color: #517fa4;
  transform: scale(0.9);
}
hr.socket {
  width: 100%;
  border-top: .2rem solid var(--mainLight);
  margin-top: 3rem;
}


@media (max-width: 500px) {
  .personal p {
    font-size: .8rem;
  }
  .personal strong {
    font-size: 0.9rem;
  }
}